.jumbotron {
	background: rgba(50, 125, 255, .75);
}
.jumbotron h1 {
	color: #efefef;
}
.table {
	border: 1px solid #ccc;
	background: rgba(250, 250, 250, .95);
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
.thumb, .thumbnail {
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
.playerViewThumbnail {
	margin: 50px;
	display: inline-block;
	text-align: center;
	font-size: 2em;
}
.areaSeasonHeading {
	background: rgba(0, 0, 0, .1);
	font-size: 2em;
	line-height: 2em;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
	font-weight: bold;
}
.divisionHeading {
	background: rgba(0, 0, 0, .25);
	font-size: 1.5em;
	line-height: 2em;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
	font-weight: bold;
}
.bg-danger {
	font-weight: bold;
	padding: 10px;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}